// Fonts API
// =========


// Font-URL [function]
// -------------------
/// Get a CSS-ready URL function (`url('my/path')`) with
/// the full path to a file in the fonts directory.
/// @group fonts
/// @param {string} $path -
///   A path relative to the fonts directory.
/// @return {String} -
///   The full path to a font file, in CSS `url('my/path')` format.
@function font-url(
  $path,
  $font-path: $font-path
) {
  @if not str-index($path, 'data:') {
    $path: $font-path + $path;
  }

  @return url(quote($path));
}


// Font Family [function]
// ----------------------
/// Access a font-family from your `$fonts` map.
/// @group fonts
/// @param {string} $key -
///   The key-name of a font in your `$fonts` map.
/// @return {String} -
///   The full font-stack for the given font,
///   ready for output with the `font-family` property.
@function font-family(
  $key
) {
  $font: map-get($fonts, $key);
  $name: map-get($font, 'name') or $key;
  @return join($name, map-get($font, 'stack'), 'comma');
}


// Font Family [mixin]
// -------------------
/// Output a font-stack to font-family based on your `$fonts` configuration.
/// @group fonts
/// @param {string} $key -
///   The key-name of a font in your `$fonts` map.
@mixin font-family(
  $key
) {
  font-family: font-family($key);
}


// Font Face [mixin]
// -----------------
/// Import any local webfont defined in your `$fonts` configuration
/// (variants without a path will not be imported).
/// @group fonts
/// @param {string} $key -
///   The key-name of a font in your `$fonts` map.
@mixin font-face(
  $key
) {
  $font: _font-get($key);
  $variants: _font-get-variants($font);
  $name: map-get($font, 'name') or $key;
  $formats: map-get($font, 'formats') or ();

  @if (length($variants) > 0) {
    @each $variant, $data in $variants {
      @include _import-font-face($name, $variant, $data, $formats);
    }
  }
}


// Import WebFonts [mixin]
// -----------------------
/// Import webfonts from your font config list.
/// @group fonts
/// @param {map} $fonts [$fonts] -
///   A map of your font configuration.
@mixin import-webfonts(
  $fonts: $fonts
) {
  @each $key, $value in $fonts {
    @if (type-of($value) == 'map') {
      @include font-face($key);
    }
  }
}
