// Configuration Tests
// ===================

$fonts: (
  'CenturyOldStyle': (
    'stack': ('Georgia', 'serif'),
    'normal': 'centuryoldstyle-regular-filename',
    'italic': false,
  ),

  'TestFont': (
    'stack': ('Georgia', 'serif'),
    'normal': (
      'local': true,
      'woff2': 'data:application/font-woff2;charset=utf-8;base64,…',
      'woff': 'data:application/font-woff;charset=utf-8;base64,…',
      'svgz': 'path-to-svg',
    ),
    'local': 'local-name' 'local name',
    'svgid': 'optionID',
  ),

  'alias': 'CenturyOldStyle',
  'kevin bacon': 'alias',
);


@include describe('Add Font [mixin]') {
  $partial: (
    'name': 'FranklinGothic',
    'stack': ('Helvetica', 'Arial', 'sans-serif'),
  );

  $franklin: (
    'name': 'FranklinGothic',
    'stack': ('Helvetica', 'Arial', 'sans-serif'),
    'normal': 'franklingothic-regular-filename',
    'bold': 'franklingothic-bold-filename',
    'bold' 'italic': 'franklingothic-bolditalic-filename',
  );

  @include it('Adds a font to the global variable') {
    @include assert-false(
      map-get($fonts, 'sans')
    );

    @include add-font('sans', $partial);

    @include assert-equal(
      map-get($fonts, 'sans'),
      $partial
    );
  }

  @include it('Allows you to override with a force argument') {
    @include assert-unequal(
      map-get($fonts, 'sans'),
      $franklin
    );

    @include add-font('sans', $franklin, 'force');

    @include assert-equal(
      map-get($fonts, 'sans'),
      $franklin
    );
  }
}
