// Test Font API
// =============


// Font URL [function]
// -------------------
@include describe('font-url [function]') {
  @include it('Prepend font folder to font path') {
    $test: font-url('myfont.woff');
    $expect: url('../fonts/myfont.woff');

    @include assert-equal($test, $expect,
      'Returns a full font-path with font-folder prepended.');
  }
}


// Font Family [function]
// ----------------------
@include describe('Font Family [function]') {
  @include it('Explicit name') {
    $expect: ('FranklinGothic', 'Helvetica', 'Arial', 'sans-serif');

    @include assert-equal(
      font-family('sans'),
      $expect,
      'Returns a font-stack with explicit name prepended.');
  }

  @include it('Implicit name') {
    $expect: ('CenturyOldStyle', 'Georgia', 'serif');

    @include assert-equal(
      font-family('CenturyOldStyle'),
      $expect,
      'Returns a font-stack with implicit name prepended.');
  }
}


// Font Family [mixin]
// -------------------
@include describe('Font Family [mixin]') {
  @include it('Generates font-family property and value') {
    @include assert {
      @include output {
        @include font-family('sans');
      }

      @include expect {
        font-family: ('FranklinGothic', 'Helvetica', 'Arial', 'sans-serif');
      }
    }
  }
}


// Font Face [mixin]
// -----------------
@include describe('Font Face [mixin]') {
  @include it('Font-face imports for local variants') {
    @include assert {
      @include output(false) {
        @include font-face('kevin bacon');
      }

      @include expect(false) {
        @font-face {
          font-family: "kevin bacon";
          font-style: normal;
          font-weight: normal;
          src: url("../fonts/centuryoldstyle-regular-filename.woff") format("woff"), url("../fonts/centuryoldstyle-regular-filename.ttf") format("truetype");
        }
      }
    }
  }
}


// Import Webfonts [mixin]
// -----------------------
@include describe('Import Webfonts [mixin]') {
  @include it('Font-face imports for all local fonts & variants') {
    @include assert {
      @include output(false) {
        @include import-webfonts;
      }

      @include expect(false) {
        @font-face {
          font-family: "CenturyOldStyle";
          font-style: normal;
          font-weight: normal;
          src: url("../fonts/centuryoldstyle-regular-filename.woff") format("woff"), url("../fonts/centuryoldstyle-regular-filename.ttf") format("truetype");
        }

        @font-face {
          font-family: "TestFont";
          font-style: normal;
          font-weight: normal;
          src: local("local-name"), local("local name"), url("data:application/font-woff2;charset=utf-8;base64,…") format("woff2"), url("data:application/font-woff;charset=utf-8;base64,…") format("woff"), url("../fonts/path-to-svg.svgz#optionID") format("svg");
        }

        @font-face {
          font-family: "FranklinGothic";
          font-style: normal;
          font-weight: normal;
          src: url("../fonts/franklingothic-regular-filename.woff") format("woff"), url("../fonts/franklingothic-regular-filename.ttf") format("truetype");
        }

        @font-face {
          font-family: "FranklinGothic";
          font-style: normal;
          font-weight: bold;
          src: url("../fonts/franklingothic-bold-filename.woff") format("woff"), url("../fonts/franklingothic-bold-filename.ttf") format("truetype");
        }

        @font-face {
          font-family: "FranklinGothic";
          font-style: italic;
          font-weight: bold;
          src: url("../fonts/franklingothic-bolditalic-filename.woff") format("woff"), url("../fonts/franklingothic-bolditalic-filename.ttf") format("truetype");
        }
      }
    }
  }
}
